@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
  scroll-behavior: smooth;
}

a.active div {
  display: block;
}
